[submodule "api"]
	path = api
	url = git@github.com:Framework-for-Search-as-Learning/searchat-behavior-api.git
[submodule "ui"]
	path = ui
	url = git@github.com:Framework-for-Search-as-Learning/searchat-behavior-ui.git
