[submodule "backend"]
	path = backend
	url = git@github.com:Framework-for-Search-as-Learning/searchat-behavior-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Framework-for-Search-as-Learning/searchat-behavior-front.git
