services:

  front:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    stdin_open: true
    tty: true
    ports:
      - "3001:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules

    environment:
      - REACT_APP_API_URL=http://localhost:3000/searching-as-learning
      - WDS_SOCKET_PORT=3001
    env_file:
      - ./frontend/.env
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: nestjs-dev
    restart: no
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - POSTGRES_HOST=postgres-api
      - MONGO_URL=mongodb://mongo-api:27017
    env_file:
      - ./backend/.env
    depends_on:
      - postgres-api
  postgres-api:
    image: postgres:17-alpine
    restart: no
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: cbf
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  pgadmin_data: