services:
  postgres-api:
    image: postgres:17-alpine
    restart: no
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-sal}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: nestjs-dev
    ports:
      - "3000:3000"
    environment:
      DB_HOST: postgres-api
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    volumes:
      - ./backend:/app
      - /app/node_modules
    
    depends_on:
      - postgres-api
  
  front:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    stdin_open: true
    tty: true
    ports:
      - "3001:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - HOST=0.0.0.0
      - PORT=3000
      - WATCHPACK_POLLING=true
      - REACT_APP_GEMINI_API_KEY=${GEMINI_KEY}
    depends_on:
      - api

  pgadmin:
    image: dpage/pgadmin4:latest
    restart: no
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '5050:80'
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres-api

volumes:
  postgres_data:
  pgadmin_data: