services:
  postgres-api:
    image: postgres:17-alpine
    restart: no
    environment:
      POSTGRES_USER: ${DB_USER:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-postgres}
      POSTGRES_DB: ${DB_NAME:-sal}
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
  api:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: nestjs-dev
    ports:
      - "3000:3000"
    environment:
      DB_HOST: postgres-api
      DB_USER: ${DB_USER:-postgres}
      DB_PASSWORD: ${DB_PASSWORD:-postgres}
      DB_NAME: ${DB_NAME:-sal}
      SECRET: ${SECRET:-pdjaspdipsjp}
    volumes:
      - ./backend:/app
      - /app/node_modules
    
    depends_on:
      - postgres-api
  
  front:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    stdin_open: true
    tty: true
    ports:
      - "3001:3001"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - HOST=0.0.0.0
      - PORT=3001
      - WATCHPACK_POLLING=true
    depends_on:
      - api

volumes:
  postgres_data:
